  .card {
    height: 76vh;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    padding-left: 4px;
    padding-top:4px;
    width: 40vw;
    background-color:  #112122;
    /* background-color: rgb(28 25 23); */
  
  }
  
  .product-canvas {
    width: 39.5vw;
    height: 58vh;
    background:white;
    outline-width: 1px;
    border-radius: 2px;
    margin-bottom:18px
  
  }
  
  .colors {
  display:flex;
  flex-direction:row;
  }
  
  .colors div {}

